.produtoTimelineTitle {
  font-size: 30px;
  margin-top: 15px;
  font-weight: bold;
}

.produtoTimeline {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.produto {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 500px;
  padding: 4%;
  justify-content: flex-start;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
  border-radius: 5px;
}

.produtoBold {
  font-weight: bold;
}

.coluna1 {
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: start;
}

.coluna2 {
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: start;
  margin-left: 20px;
}